<h1>My Portfolio items</h1>
<% @portfolio_items.each do |portfolio|%>
	<h2><%= portfolio.title %></h2>
	<h3><%= portfolio.subtitle %></h3>
	<h4><%= portfolio.body %></h4>
	<img src="<%= portfolio.thumb_img %>">
<% end %>