  <div class=" py-1 mb-2 navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
      <nav class="nav d-flex justify-content-around blog-nav">
        <%= nav_helper "p-2 text-dark ", "span" %>
        <%= nav_links "p-2 text-dark" %>
      </nav>
    </div>
  </div>
